# [[icedos.repositories]]
# url = "github:icedos/cosmic"

# [icedos.desktop.cosmic.users.work]
# startupScript = "proton-vpn & slack"

# [icedos.desktop.cosmic.panel]
# autohide = true
# favorites = ["steam", "discord", "signal", "librewolf"]
# position = "Bottom" # Left, Right, Top, Bottom
# size = "S" # XS, S, M, L, XL

# [icedos.desktop.cosmic.panel.plugins]
# left = ["com.system76.CosmicAppList"]
# center = []
# right = [
#   "com.system76.CosmicAppletStatusArea",
#   "com.system76.CosmicAppletInputSources",
#   "com.system76.CosmicAppletBluetooth",
#   "com.system76.CosmicAppletAudio",
#   "com.system76.CosmicAppletBattery",
#   "com.system76.CosmicAppletNetwork",
#   "com.system76.CosmicAppletNotifications",
#   "com.system76.CosmicAppletTime",
#   "com.system76.CosmicAppletPower",
# ]

# [icedos.desktop.cosmic.input.keyboard]
# superKeyAction = "Launcher" # Launcher, WorkspaceOverview, AppLibrary, Disable

# [[icedos.desktop.cosmic.input.keyboard.shortcuts]]
# command = "kitty"
# description = "Kitty"
# keys = ["Super+x", "Super+Greek_xi"]
# variant = "Spawn"

# [[icedos.desktop.cosmic.input.keyboard.shortcuts]]
# command = "cosmic-files"
# description = "Files"
# keys = ["Super+e", "Super+Greek_epsilon"]
# variant = "Spawn"

# [[icedos.desktop.cosmic.input.keyboard.shortcuts]]
# command = "walker-clipboard"
# description = "Clipboard Manager"
# keys = ["Super+v", "Super+Greek_omega"]
# variant = "Spawn"

# [[icedos.desktop.cosmic.input.keyboard.shortcuts]]
# command = "walker-emojis"
# description = "Emoji Picker"
# keys = ["Super+slash"]
# variant = "Spawn"

# [icedos.desktop.cosmic.time]
# date = true
# weekday = true

[[icedos.repositories]]
url = "github:icedos/apps"
# url = "path:/home/stef/code/os/apps"
modules = [
  # "aagl",
  # "android-tools",
  "bash",
  "btop",
  "celluloid",
  "codium",
  # "flatpak",
  # "gamemode",
  # "gamescope",
  "helium",
  "kitty",
  # "lact",
  "librewolf",
  # "lsfg-vk",
  # "mangohud",
  # "me3",
  "nautilus",
  # "ncdu",
  "podman",
  # "proton-launch",
  # "reigntweak",
  "scx",
  # "solaar",
  # "steam",
  # "steam-session",
  # "walker",
  # "wg-quick",
  "zenergy",
  # "zenstates",
]

[[icedos.repositories]]
url = "github:icedos/desktop"
modules = ["gdm"]

[[icedos.repositories]]
url = "github:icedos/gnome"
fetchOptionalDependencies = true

[[icedos.repositories]]
url = "github:icedos/users"

[icedos.applications]
defaultBrowser = "librewolf.desktop"
defaultEditor = "codium.desktop"
extraPackages = [
  # "discord-canary", # Bleeding edge version of Discord
  # "gimp3", # GNU Image Manipulation Program
  "gsound", # Small library for playing system sounds (required to show file properties in Nautilus)
  "jetbrains.webstorm", # Professional IDE for Web and JavaScript development
  # "mission-center", # CPU, Memory, Disk, Network and GPU usage monitor
  # "mousai", # Song recognizer
  "nodejs_22", # Node package manager
  # "pnpm", # Fast, disk space efficient package manager for JavaScript
  "protonvpn-gui",
  # "signal-desktop",
  "warp", # File sync
]
insecurePackages = []

# [icedos.applications.flatpak]
# packages = ["flathub-beta:com.stremio.Stremio"]

[icedos.applications.codium.users.work]
autoSave = "onFocusChange"
formatOnPaste = false

[icedos.applications.git.users.work]
username = "CrazyStevenz"
email = "github.ekta@aleeas.com"

[icedos.applications.nh.gc]
days = 7 # Number of days before a generation can be deleted
generations = 5 # Number of generations that will always be kept

[icedos.applications.scx]
extraArgs = ["--performance"]

# [icedos.applications.wg-quick]
# interfaces = ["desktop-ro-69"]

[icedos.desktop.gnome]
titlebarLayout = "appmenu:minimize,maximize,close"

[icedos.desktop.gnome.extensions]
arcmenu = true
dashToPanel = true

[icedos.desktop.gnome.users.work.pinnedApps.arcmenu]
enable = true
list = ["codium.desktop"]

[icedos.desktop.gnome.users.work.pinnedApps.shell]
enable = true
list = [
  "slack.desktop",
  "discord.desktop",
  "signal.desktop",
  "librewolf.desktop",
  "helium.desktop",
  "webstorm.desktop",
]

[icedos.desktop.gnome.clock]
date = true
weekday = true

[icedos.desktop.users.work]
startupScript = "proton-vpn & slack"

[icedos.desktop.users.work.idle.lock]
seconds = 300

[icedos.desktop.users.work.idle.disableMonitors]
seconds = 270

[icedos.desktop.users.work.idle.suspend]
enable = false

[[icedos.repositories]]
url = "github:icedos/hardware"
modules = [
  "bluetooth",
  "disable-ipv6",
  "graphics",
  "kernel",
  "monitors",
  "pipewire",
  "radeon",
  "ryzen",
  "systemd-boot",
  "uinput",
  "upower",
  "zram",
]

[icedos.hardware.bootloaders.systemd-boot]
mountPoint = "/boot/efi"

[icedos.hardware.kernel]
version = "latest"

[[icedos.hardware.monitors]]
name = "eDP-1"
resolution = "1920x1080"
refreshRate = 60
position = "0x0"

[[icedos.repositories]]
url = "github:icedos/tweaks"
modules = ["kernel"]

[icedos.users.work]
description = "Work"
extraPackages = [
  # "code-cursor", # AI-powered code editor built on vscode
  # "google-cloud-sdk", # Required to use 'gcloud' command
  "slack", # Desktop client for Slack
  "watchman", # Required to watch when TypeScript files are created/updated/deleted
  # "windsurf", # Agentic IDE powered by AI Flow paradigm
]

[icedos.system]
generations = 30
version = "22.05"

# [[icedos.system.channels]]
# name = "small"
# url = "github:nixos/nixpkgs/nixos-unstable-small"
